.footer{
  background-color: $color-gray-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__content{
    gap: 10rem;

    @include respond(phone){
      gap: 6rem;
    }
  }

  &__logo-box{
     text-align: center;

     @include respond(phone){
       margin-bottom: 6rem !important;
     }
  }

  &__logo{
    width: 15rem;
    height: auto;
  }

  &__navigation{
    border-top: 1px solid $color-gray-dark;
    padding-top: 2rem;
    
  }

  &__list{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;

    @include respond(tablet-port){
      justify-content: space-evenly;
    }
  }
  

  &__link{
    
    &:link, &:visited{
      color: $color-gray-light-1;
      background-color: $color-gray-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      // inline-block is needed for the rotate to work
      display: inline-block;
      transition: all .2s;
    }

    &:hover, &:active{
      color: $color-primary;
      box-shadow: $box-shadow-hover-sm;
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright{
    border-top: 1px solid $color-gray-dark;
    padding-top: 2rem;
    
    @include respond(tablet-port){
      text-align: center;
    }
  }
}